<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="styles/restaurants.css"/>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>추천 음식점입니당</h1>
      <% if (numberOfRestaurants === 0) { %>
        <p>추천 음식점 데이터가 없습니당. 다음에 열람해 주세용</p>
        <% } else { %>
      <p>추천 음식점 데이터를 확인하셔서 맛집 라이프 즐기세용</p>
      <p>우리는 <%= numberOfRestaurants &> 개의 음식점을 찾았습니당</p>
      <form action = "/restaurants" method="GET">
        <input type="hidden" value="<%= nextOrder %>" name="order">
        <button class="btn">순서바꾸기</button>
      </form>
      <ul id="restaurants-list">
        <% for (const restaurant of restaurants) { %>
          <%- include('includes/restaurants/restaurant-item', {restaurant: restaurant}) %>                     
  <% } %>
      </ul>
      <% } %> 
    </main>
  </body>
</html>

